/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */  
* {  
     margin: 0;  
     padding: 0;  
     border: 0;
     outline: 0;
}  

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
  display: block;
}

body {
  margin: 0 auto;
  padding: 0px 0;
  width: 900px;
  font: 16px/22px Helvetica, Arial, sans-serif;
  background: #FFF;
}

h1 {
    font-family: Garamond, Palatino, serif;
    font-size: 60px;
    padding: 22px 0;
    text-align: right;
}

h2 {
  font-size: 28px;
  line-height: 44px;
  padding: 22px 0;
    font-family: "Tahoma";
    color: #0D004C;
}



h3 {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
    font-family: "Tahoma";
    color: #0D004C;
}

p {
  padding-bottom: 22px;
}

p.bio {
  font-size: 13px;
    font-style: italic;
    padding-bottom: 10px;
    max-width: 300px;
    margin-left: 0px;
    text-align: left;
}


p.epigraph {
  font-size: 13px;
    font-style: italic;
    padding-bottom: 10px;
    width: 300px;
    margin-left: 50px;
    text-align: right;
}

div.quotebox {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

p.quote {
    font-style: italic;
    font-size: 20px;
    width: 300px;
    margin-top: -10px;
    text-align: justify;
    margin-bottom: 0px;
}

p.bqstart {
     float: left;
     height: 45px;
     margin-top: -10px;
     padding-top: 45px;
     margin-bottom: -50px;
     padding-right: 10px;
     margin-right: 10px;
     font-size: 700%;
     color: #0D004C;
 }

p.bletter {
     float: left;
     height: 45px;
     margin-top: -20px;
     padding-top: 45px;
     margin-bottom: -35px;
     padding-right: -10px;
     margin-right: 10px;
     font-size: 500%;
     color: #0D004C;
 }

 p.bqend {
     height: 25px;
     margin-top: 0px;
     margin-left: 300px;
     padding-top: 0px;
     font-size: 700%;
     color: #0D004C;
     margin-bottom: 0px;
     padding-bottom: 0px;
 }

a:link {
        text-decoration: none;
        color: #F26C4F;
    }
    
a:visited {
        text-decoration: none;
        color: #F26C4F;
    }

a:hover{
        text-decoration:none;
        color: #F00;
    }
/*------------------------------
=Splash
------------------------------*/
  
#splash img {
  position: fixed;
  bottom: 0; 
  left: 0; 
  
  /* Preserve aspect ratio */
  width: 100%;
  height: auto;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
  display: table;
    background: #FEF2EE;
    width: 900px;
    margin-bottom: 0px;
}

  #mainContent {
    
    display: table-cell;
    width: 700px;
        padding: 0 20px 0 20px;  
        
    }
    
    #mainContent img.headmast {
        margin-left: -13px;
    }
  
  aside {
        display: table-cell;
    width: 147px;
        border-width: 3px;
        border-right-style: solid;
        border-color: #444;
        padding: 0px;
    }
    
    aside img.headmast {
        margin-top: 20px;
        margin-left: 50px;
    }

/*------------------------------
=BLOG POST
------------------------------*/
  
#mainContent img {
    margin: 0px;
    padding: 0px;
}

#mainContent img.banner {
    margin-top: 7px;
    padding: 0px;
    margin: 0px;
}

#mainContent ul {
    margin: 0 0 20px 20px;
    list-style: none;
  }
#mainContent ol {
    margin: 0 0 20px 20px;
    font-size: 11px;
  }

    


#mainContent div.columned {
    position:relative;
    width:700px;
    display: table;
}

#mainContent div.left {
    position:relative;
    left:0;
    top:0;
    height:100%;
    width:250px;
    vertical-align: top;
    display: table-cell;
}

#mainContent div.right {
    position:relative;
    padding-left: 2em;
    left:0;
    top:0;
    height:100%;
    width:250px;
    vertical-align: top;
    display: table-cell;
}

#mainContent li {
    padding-left: 2em;
    text-indent: -2em;

}

#mainContent p.prosepoem {
  width: 500px;
}


/*------------------------------
=SIDEBAR
------------------------------*/


aside section {
  margin: 0px;
  padding: 0px 5px;
    width: 147px;
    font-family: "Tahoma"; /* put more fonts here for people who don't have that */
    font-size: 20px;
}
  aside section ul {
    margin: 0 0 0 22px;
    list-style: none;
        text-align: right;
  }
        
        aside section ul li:hover{
            list-style-type: square;
        }
        
    aside section ul li.selected a {
      color: #ED1C24;
    }
/*------------------------------
=FOOTER
------------------------------*/
footer {
    margin-top: 0px;
  position: relative;
  width: 900px;
  background: #AAA;
}
  footer h3, footer p {
    padding: 10px;
    color: #000;
  }
  
  footer a:link {
    color: #000;
    text-decoration: underline;
  }
    
    footer a:visited {
        color: #000;
    text-decoration: underline;
    }
  
    footer a:hover {
      color: #F00;
      text-decoration: none;
    }
        


/*------------------------------
=ARCHIVES DISPLAY
------------------------------*/

.issue {
  width: 205px;
  height: 205px;
  float: left;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #000;
}

.issue p {
  position: relative;
  top: -215px;
  left: 0;
  margin: 0;
  padding: 5px 0;
  background-color: rgba(0,0,0,.6);
  color: white;
  text-align: center;
  font-weight: bold;
}

.issue img {
  width: inherit;
    height: inherit;
}

.issue a:link {
  color: #fff;
}

.issue a:visited {
  color: #fff;
}

.issue a:hover {
  color: #f00;
}

#grid {
  margin: 0px;
  width: automatic;
}

/*------------------------------
=IMAGE DISPLAY
------------------------------*/

/* Setup Tabs */
       
        #mainContent #tabs{
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
            width: 500px;
            float: left;
            list-style: none;
            display: block;
        }
        
        #tabs li{
            float: left;
            height:100px; /* Height of Tab Image */
        }
       
        /* Setup Tab so normal opacity is 40 and rollover is 100 */
        #tabs li a img{
            /* for IE */
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            filter:alpha(opacity=40);
         
            /* CSS3 standard */
            opacity:0.4;
         
        }
       
        /* Change Opacity to 100% on roll over */
        #tabs li a:hover img{
             
            /* for IE */
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter:alpha(opacity=100);
           
            /* CSS3 standard */
            opacity:1.0;
        }
        
        #mainContent #tabs2{
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
            width: 500px;
            float: left;
            list-style: none;
            display: block;
        }
        
         #tabs2 li{
            float: left;
            height:100px; /* Height of Tab Image */
        }
       
        /* Setup Tab so normal opacity is 40 and rollover is 100 */
        #tabs2 li a img{
            /* for IE */
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            filter:alpha(opacity=40);
         
            /* CSS3 standard */
            opacity:0.4;
         
        }
       
        /* Change Opacity to 100% on roll over */
        #tabs2 li a:hover img{
             
            /* for IE */
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter:alpha(opacity=100);
           
            /* CSS3 standard */
            opacity:1.0;
        }
   
        /* Places images to the right of the tabs,
        and hides non selected images */
        #images{
            width:605px;
            height:300px;
            overflow:hidden;  /* Hides the non selected images */
            float:left;
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
        }
        
        #images div.imgHalf {
            display: table-cell;
            width: 450px;
            height: 300px;
            padding: 0px;
            margin: 0px;  
            vertical-align: top;
        }
        
        #images div.txtHalf {
            display: table-cell;
            width: 145px;
            height: 300px;
            padding-left: 5px;
            vertical-align: bottom;
            margin-top: -10px;
            padding-bottom: 10px;
        }
        
        #images a img {
            padding: 0px;
            margin: 0px;
            max-width: 440px;
            max-height: 290px;
        }
        
        #images h3 {
            width: 150px;
            padding-bottom: 10px;
            padding-top: 0px;
            margin: 0px;
            
        }
        
        #images a.prev {
            float: left;
        }
        #images a.next {
            float: right;
        }
       
        /* Places a black border around the entire viewer
        and centers it on the screen */
        #wrapper{
            width:633px;
            height:300px;
            border:none;
            margin:0px auto;
        }
        
        #fade { /*--Transparent background layer--*/
            display: none; /*--hidden by default--*/
            background: #000;
            position: fixed; left: 0; top: 0;
            width: 100%; height: 100%;
            opacity: .80;
            z-index: 9999;
        }
        .popup_block{
            display: none; /*--hidden by default--*/
            background: #fff;
            padding: 20px;
            border: 20px solid #ddd;
            float: left;
            font-size: 1.2em;
            position: fixed;
            top: 50%; left: 50%;
            z-index: 99999;
            /*--CSS3 Box Shadows--*/
            -webkit-box-shadow: 0px 0px 20px #000;
            -moz-box-shadow: 0px 0px 20px #000;
            box-shadow: 0px 0px 20px #000;
            /*--CSS3 Rounded Corners--*/
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        
        div.popup_block img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        
        img.btn_close {
            float: right;
            margin: -55px -55px 0 0;
        }
        /*--Making IE6 Understand Fixed Positioning--*/
        *html #fade {
            position: absolute;
        }
        *html .popup_block {
            position: absolute;
        }

