body {
  margin: 0; }

/* Container for the menu */
#leftMenu {
  width: 200px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white; }

/* Attributes of the left menu itself */
.menu {
  list-style-type: none;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin: 0em 0em 0em 0em;
  padding: 0em 1em 2em; }
  .menu a {
    color: white;
    text-decoration: none; }
    
.rccr {
  list-style-type: none;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: white;
  margin: .5em 0em 0em -.4em;
  }

#container {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  background: white; }

/* Generica properties of the image links */
.imageLink {
  width: calc(33.33% - 13.3px );
  position: absolute;
  box-sizing: border-box;
  padding: .2em .4em;
  text-decoration: none;
  color: white;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 3em;
  font-weight: 700;   }

.c1 {
  left: 10px; }

.c2 {
  left: calc(33.33% +  7.5px ); }

.c3 {
  left: calc(66.66% + 5px ); }

/* Here's where we can assign the images */
#imageLink1 {
  background: url(2016tile.jpg) no-repeat center center;
  background-size: cover; }

#imageLink2 {
  background: url(2015tile.jpg) no-repeat center center;
  background-size: cover; }

#imageLink3 {
  background: url(2014tile.jpg) no-repeat center center;
  background-size: cover; }

#imageLink4 {
  background: url(2013tile.jpg) no-repeat center center;
  background-size: cover; }

#imageLink5 {
  background: url(2012tile.jpg) no-repeat center center;
  background-size: cover; }

#imageLink6 {
  background: url(2011tile.jpg) no-repeat center center;
  background-size: cover; }

.tallBottom {
  height: calc(66% - 15px);
  top: calc(33.33% + 10px); }

.shortBottom {
  height: calc(33% - 10px);
  top: calc(66% + 5px); }

.tallTop {
  height: calc(66% - 15px);
  top: 10px; }

.shortTop {
  height: calc(33.33% - 10px);
  top: 10px; }
