body {
  margin: 0; }

/* Container for the menu */
#leftMenu {
  width: 200px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  }

/* Attributes of the left menu itself */
.menu {
  list-style-type: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  margin: 0em;
  padding: 0em .8em;
  line-height: 32px }
  .menu a {
    color: white;
    text-decoration: none; }

.rccr {
  list-style-type: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: white;
  margin: .5em 0em 0em -.5em;
  padding-bottom: 14;
  }

/* Font Family
================================================== */

@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");

/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:none; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


#container {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  background: white; }

/* Generica properties of the image links */
.imageLink {
  font-family: "Yanone Kaffeesatz", sans-serif;;
  color: white;
  width: calc(33.33% - 13.3px );
  position: absolute;
  box-sizing: border-box;
  padding: .2em .4em;
  color: white;
  font-size: 3em;
  font-weight: 700;}

.c1 {
  left: 10px; }

.c2 {
  left: calc(33.33% +  7.5px ); }

.c3 {
  left: calc(66.66% + 5px );
  }

/* Here's where we can assign the images */
#imageLink1 {

  background: black no-repeat center center;
  background-size: cover; }

#imageLink2 {
  background: black no-repeat center center;
  background-size: cover; }

#imageLink3 {
  font-family: "Yanone Kaffeesatz", sans-serif;;
  font-family: "Yanone Kaffeesatz", sans-serif;;
  font-weight: 600;
  color: white;
  background: black no-repeat center center;
  background-size: cover; }

#imageLink4 {
  background: black no-repeat center center;
  background-size: cover; }

#imageLink5 {
  background: black no-repeat center center;
  background-size: cover; }

#imageLink6 {
  background: black no-repeat center center;
  background-size: cover;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  color: white;
  }

#stafflist li {
  list-style-type: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  }

#stafflist a {
  list-style-type: none;
  background: black no-repeat center center;
  background-size: cover;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #dddddd;
  margin-top: 5px;
  }

 p
  {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #dddddd;
  background: black no-repeat center center;
  background-size: cover;
  }


.tallBottom {
  height: calc(66% - 15px);
  top: calc(33.33% + 10px);

  }

.shortBottom {
  height: calc(33% - 10px);
  top: calc(66% + 5px); }

.tallTop {
  height: calc(66% - 15px);
  top: 10px; }

.shortTop {
  height: calc(33.33% - 10px);
  top: 10px; }


/* CSS Reset
================================================== */
html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
background-color:#111;
color:#C8C7C8;
font:20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
padding:100 0;
}

body {line-height: normal;}
